<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PackageName" value="ErpPackage.zip"/>
    <add key="S3Url" value="http://acumatica-builds.s3.amazonaws.com/"/>
  </appSettings>
</configuration>